/*** JOSH COMEAU CSS RESET ***/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/*** VARIABLES ***/

:root {
  --main: #2c666e;
  --black: #0a090c;
  --white: #f0edee;
  --dark: #07393c;
  --dark-light: #15afb7;
  --highlight: #90ddf0;
}
/*** GENERAL ***/

body {
  color: var(--black);
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textarea {
  max-width: 600px;
  width: 80%;
  overflow: auto;
  height: 240px;
  margin-bottom: 40px;
  outline: none;
}
.textarea:focus {
  border: 1px solid var(--highlight);
}

.keyboard {
  max-width: 1080px;
}
.row {
  width: 100%;
  display: flex;
  gap: 4px;
  margin-bottom: 3px;
}
button {
  padding: 20px;
  flex-grow: 1;
  color: var(--white);
  background-color: var(--dark);
  border: 1px solid var(--highlight);
  border-bottom: 4px solid var(--highlight);
  transition: all 0.2s;
  min-width: 60px;
}
button:hover {
  background-color: var(--dark-light);
}
button:active {
  border-bottom: 1px solid var(--highlight);
  margin-top: 2px;
}
.space {
  width: 40%;
}
